<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>WebMailer ltd. | Main</title>
</head>
<body>
    <div id="btnContainers">
        <ul id="btns">
            <li id="registerButton" class="btn">Register</li>
            <li id="loginButton" class="btn">Login</li>
        </ul>
    </div>
</body>
<script src="../js/index/btnsRedirects.js"></script>
</html>