<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>'___'</script>
    <title> 404 | Not Found</title>
</head>
<body>
    <h1>OOPS!... </h1>
    <h2>Looks like the page you tried to access is not found. </h2>
    <h2 id="redirectMsg">You will be redirected in 5 seconds.</h2>
</body>
<script src="../js/notFoundRedirect.js"></script>
</html>